### Project ###
**/logs/
bin/

### IntelliJ IDEA ###
app/.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle ###
!gradle-wrapper.properties
!gradle-wrapper.jar
!src/**/build/
.gradle
**/build/
.classpath
.project*
.factorypath
.settings

### Mac OS ###
**/.DS_Store